<?xml version="1.0"?>
<config>
  <modules>
    <Merchantware_Giftcard>
      <version>0.1.0</version>
    </Merchantware_Giftcard>
  </modules>
  <global>
    <blocks>
      <giftcard>
        <class>Merchantware_Giftcard_Block</class>
      </giftcard>
    </blocks>
    <blocks>
      <adminhtml>
        <rewrite>
          <sales_order_totals>Merchantware_Giftcard_Adminhtml_Block_Sales_Order_Totals</sales_order_totals>
          <sales_order_invoice_totals>Merchantware_Giftcard_Adminhtml_Block_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
        </rewrite>
      </adminhtml>
    </blocks>
    <helpers>
      <giftcard>
        <class>Merchantware_Giftcard_Helper</class>
      </giftcard>
    </helpers>
    <models>
      <giftcard>
        <class>Merchantware_Giftcard_Model</class>
      </giftcard>
    </models>
    <events>
 	  <sales_order_payment_place_start>
        <observers>
          <giftcard>
            <type>singleton</type>
            <class>Merchantware_Giftcard_Model_Observer</class>
            <method>salesOrderPaymentPlaceStart</method>
          </giftcard>
        </observers>
      </sales_order_payment_place_start>
	  <checkout_onepage_controller_success_action>
        <observers>
          <giftcard>
            <type>singleton</type>
            <class>Merchantware_Giftcard_Model_Observer</class>
            <method>checkoutOnepageControllerSuccessAction</method>
          </giftcard>
        </observers>
      </checkout_onepage_controller_success_action>
	  <paypal_prepare_line_items>
        <observers>
          <paypal_prepare_line_items>
            <class>Merchantware_Giftcard_Model_Observer</class>
            <method>updatePaypalTotal</method>
          </paypal_prepare_line_items>
        </observers>
      </paypal_prepare_line_items>	  
    </events>
    <sales>
      <quote>
        <totals>
          <giftcard>
            <class>Merchantware_Giftcard_Model_Giftcard</class>
            <after>grand_total</after>
          </giftcard>
        </totals>
      </quote>
    </sales>
    <fieldsets>
      <sales_convert_quote_address>
        <giftcard_code>
          <to_order>*</to_order>
        </giftcard_code>
        <giftcard_discount>
          <to_order>*</to_order>
        </giftcard_discount>
      </sales_convert_quote_address>
    </fieldsets>
    <resources>
      <giftcard_setup>
        <setup>
          <module>Merchantware_Giftcard</module>
        </setup>
      </giftcard_setup>
    </resources>
  </global>
  <frontend>
    <routers>
      <giftcard>
        <use>standard</use>
        <args>
          <module>Merchantware_Giftcard</module>
          <frontName>giftcard</frontName>
        </args>
      </giftcard>
    </routers>
    <layout>
      <updates>
        <giftcard>
          <file>merchantware_giftcard.xml</file>
        </giftcard>
      </updates>
    </layout>
  </frontend>
</config>
